.error__message {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.error__message_icon {
	width: 50px;
	height: 50px;
	animation: error 1.5s ease-in infinite;
}

@keyframes error {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

.error__message_text {
	font-weight: 700;
	font-size: 18px;
}