$fontFamily: "Merienda", cursive;
$fontSize: 14;
$fontWeight: 400;

$maxWidthContainer: 900;
$md1: 1023.98;
$md2: 767.98;
$md3: 479.98;

$backgroundColor: #ffffff;
$mainColor: #000;
$whiteColor: #fff;
$lightGrayColor:rgba(0, 0, 0, 0.50);