@import '../../styles/variables.scss';
.nav__logo img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__item {

    }
    &__link {
        color: #fff;
        font-size: 12px;
        position: relative;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &::before {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 0%;
            height: 2px;
            left: 0;
            bottom: -5px;
            transition: width 0.4s ease-out;
        }
        &:hover::before {
            width: 100%;
        }
        &_active {
            &::before {
                width: 100%;
            }
        }
        @media (max-width: #{$md2}px) {
            font-size: 18px;
        }
    }
}

@media (max-width: #{$md2}px) {
    .nav__burger {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;
    
        span,
        &::before,
        &::after {
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #fff;
        }
        &::before,
        &::after {
          content: "";
        }
        &::before {
          bottom: 0;
        }
        &::after {
          top: 0;
        }
        span {
          top: 50%;
          transform: scale(1) translate(0px, -50%);
        }
      }
      .nav__burger {
        &._active {
          span {
            transform: scale(0) translate(0px, -50%);
          }
        }
        &._active {
          &::after {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
          }
        }
        &._active {
          &::before {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
          }
        }
      }
      .nav__menu {
        flex-direction: column;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 160px 30px 30px 30px;
        transition: top 0.3s ease 0s;
        overflow: auto;
        background-color: rgba(32, 32, 32, 0.96);
    
        &._active {
          top: 0;
    
          &::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
          }
        }
      }
      .menu {
        &__list {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .nav__logo {
        flex: 1 1 auto;
        position: relative;
        z-index: 20;
      }
}
