@import '../../styles/variables.scss';
.home__intro {
    position: relative;
    padding: 180px 0px 200px 0px;
    &_container .decoration {
        &::before {
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        &::after {
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &_body {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        & :not(:nth-child(2)):not(:last-child) {
            margin-bottom: 20px;
        }
        & :nth-child(2) {
            margin-bottom: 35px;
        }
    }
    &_title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &_subtitle {
        color: #fff;
        font-weight: 700;
    }    

    &_image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: #{$md1}px) {
    .home__intro {
        padding: 160px 0px 160px 0px;
    }
}
@media (max-width: #{$md2}px) {
    .home__intro {
        padding: 160px 0px 140px 0px;
    }
}
@media (max-width: #{$md3}px) {
    .home__intro {
        padding: 160px 0px 120px 0px;
    }
}