@import '../../styles/variables.scss';
.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px 22px 0px;
    &__top {
        
    }
    &__bottom {

    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__logo img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &__menu {

    }
}

.menu-footer {
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__item {

    }
    &__link {
        color: inherit;
        font-size: 12px;
        position: relative;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &::before {
            position: absolute;
            content: "";
            background-color: #000;
            width: 0%;
            height: 2px;
            left: 0;
            bottom: -5px;
            transition: width 0.4s ease-out;
        }
        &:hover::before {
            width: 100%;
        }
        &_active {
            &::before {
                width: 100%;
            }
        }
    }
}

@media (max-width: #{$md1}px) {
    
}
@media (max-width: #{$md2}px) {

}
@media (max-width: #{$md3}px) {
    .footer {
        padding: 60px 0px 60px 0px;
        &__top {
        display: none;
        }
    }
}