@import '../../styles/variables.scss';
.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px 22px 0px;
    &__top {
        
    }
    &__bottom {

    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.footer .menu__link {
    color: #000;
    &::before {
        background-color: #000;
    }
}

@media (max-width: #{$md2}px) {
    .footer {
        padding: 60px 0px 60px 0px;
        &__top {
        display: none;
        }
    }
}